:root {
    --BackgroundMAinGradient: linear-gradient(168deg, #0A0908 0%, #EC0B43 50%);
    --mainTextColor: white;
    --fontSizePerfil: 1.3em;

}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px;
}

/* HEADER STYLES  */

header {
    background: var(--BackgroundMAinGradient);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__main figure {
    margin: 0;
}
.header__main figure img {
    width: 10em;
}
.header__descriptive {
    display: flex;
    align-items: center;

}
.header__descriptive figure {
    margin: 0;
    
}
.header__descriptive details {
    margin: 0 30px 0 5px;
    transition: 1s height;
    overflow: hidden;
    height: var(--fontSizePerfil);
    
}
.header__descriptive details[open] {
    height: 7em;
}
.header__descriptive summary::-webkit-details-marker {
    width: .5em;
    height: .5em;
    vertical-align: middle;
    margin: 0;
    margin-right: 2px;
}
.header__descriptive details summary {
    outline: none;
    color: var(--mainTextColor);
    font-size: var(--fontSizePerfil);
    cursor: pointer;
}
.header__descriptive__list li {
    color: var(--mainTextColor);
}
.header__descriptive__list li > a {
    text-decoration: none;
    font-weight: 600;
    font-size: .8em;
    color: var(--mainTextColor);
}
.header__descriptive__list li > a:hover {
    text-decoration: underline;
    color: black;
}